#navBar1 {
    background-color: transparent;
}

#navBar2 {
    background-color: transparent
}

#navbarNav {
    background-color: transparent;
}

.myText {
    color: black;
    font-size: 1.5vw;
}

.nav-link {
    color: black !important;
}

.navbar-brand {

    font-family: 'Courier New', Courier, monospace;

}

.results-container {
    position: absolute;
    display:flex;
    flex-wrap: wrap;
    top:40%;
    height: 50%;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
}
#middletext {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: 400;
    margin-bottom: 5vw;
    margin-top: 5vw;
}

#smalltext {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: small
}

body {
    background-color: rgba(255,193,69) !important;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist-image {
    height: 83px;
    width: 83px;
    box-shadow: 0px 0px 20px 1px black;
    margin-right: 5%;
    background-color: white;
}


.bodyforinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 5% 5% 5%;
    font-family: 'Courier New', Courier, monospace;
    width: 20%;
}
.bodyforinfo :hover {
    background:rgba(255, 193, 69, 0.952);
    border: solid 1px grey;
}
#maincontainer {
    background-image: url("bgforproj.jpeg");
}

.text-for-artist {
    display: flex;
    justify-content: center;
}

.image-space {
    margin-right:5%;
}

.results-list {
    list-style: none;

}

.artist-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#content {
    position: absolute;
    height: 50px;
    width: 300px;
    margin-left: 170px;
    left: 63%;
    transform: translate(-50%, -50%);
}
#cardcontainer {
    background-color: transparent !important;
    border-style: none;
}

h5{
    font-weight: bold !important;

}

#card-body {
    display: flex;
    flex-direction: column;
}

#content.on {
    -webkit-animation-name: in-out;
    animation-name: in-out;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
#search-container {
    font-display: white !important;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    max-width: 1920px;
    width: 100%;
    right: 1300px;
    margin:0%
}

input {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.search {
    background: none;
    position: absolute;
    top: 0px;
    left: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.search:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 26px;
    margin-left: 17px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.close {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.close:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    margin-top: -1px;
    margin-left: -13px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.close:after {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    background-color: #fff;
    margin-top: -1px;
    margin-left: -13px;
    cursor: pointer;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.square {
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    width: 400px;
    height: 50px;
    border: 4px solid #ffffff;
    border-radius: 0;
    background: none;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s, 0s, 0.4s;
    transition-delay: 0.4s, 0s, 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

#main-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: url("../images/bgforproj.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-attachment: fixed;
    /* margin-top: 100px; */
    width: 40vw;
    height: 40vw;
    box-shadow: 0px 0px 50px 5px rgb(209, 150, 83);
    border-radius: 1000px;
}

#form-div {
    margin: 1vw 0 1vw 0vw;
}

.card-title {
    font-weight: bold;
}