#navBar1 {
    background-color: transparent;
}

#navBar2 {
    background-color:transparent
}

#navbarNav {
    background-color: transparent;
}

.myText {
    color: black;
}

.nav-link {
    color: black !important;
}